[class*="lIcon-"] {
	font-family: "lfont";
	font-style: normal;
}
@font-face {
  font-family: 'lfont';  /* project id 2308608 */
  src: url('//at.alicdn.com/t/font_2308608_7v3g9uiodpy.eot');
  src: url('//at.alicdn.com/t/font_2308608_7v3g9uiodpy.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2308608_7v3g9uiodpy.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2308608_7v3g9uiodpy.woff') format('woff'),
  url('//at.alicdn.com/t/font_2308608_7v3g9uiodpy.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2308608_7v3g9uiodpy.svg#lfont') format('svg');
}

.lIcon-chart-1:before {
  content: "\e81e";
}

.lIcon-icon:before {
  content: "\e659";
}

.lIcon-study:before {
  content: "\e72e";
}

.lIcon-js:before {
  content: "\ec68";
}

.lIcon-chart-2:before {
  content: "\e605";
}

.lIcon-component:before {
  content: "\e652";
}
.lIcon-map-1:before {
  content: "\e62a";
}

.lIcon-form:before {
  content: "\e616";
}

.lIcon-browse:before {
  content: "\e745";
}

.lIcon-vue:before {
  content: "\e7d1";
}

.lIcon-ts:before {
  content: "\e664";
}
.lIcon-ts-2:before {
  content: "\e6a3";
}

.lIcon-wechat:before {
  content: "\e69b";
}

.lIcon-poster:before {
  content: "\e63b";
}

.lIcon-rich:before {
  content: "\e693";
}
.lIcon-css3:before {
  content: "\e998";
}
.lIcon-draw:before {
  content: "\e644";
}
.lIcon-regx:before {
  content: "\e7d2";
}
.lIcon-canvas:before {
  content: "\e863";
}
.lIcon-component:before {
  content: "\e6f2";
}

.lIcon-code:before {
  content: "\e6f3";
}

.lIcon-copy:before {
  content: "\e6f4";
}

.lIcon-arrow-right:before {
  content: "\e743";
}

.lIcon-arrow-left:before {
  content: "\e744";
}

.lIcon-arrow-up:before {
  content: "\e746";
}

.lIcon-category:before {
  content: "\e748";
}

.lIcon-close:before {
  content: "\e749";
}

.lIcon-Notvisible:before {
  content: "\e75a";
}

.lIcon-add-select:before {
  content: "\e7b0";
}

.lIcon-sami-select:before {
  content: "\e7b1";
}

.lIcon-arrow-down:before {
  content: "\e7b2";
}

.lIcon-search:before {
  content: "\e7b3";
}
// .lIcon-:before {
//   content: "\e";
// }
